region            = "us-west-2"
availability_zone = "us-west-2a"
ami               = "ami-08116b9957a259459"
bucket_name       = "tumrabert-wordpress-midterm.us-west-2"
database_name     = "wordpressdb"
database_user     = "wpuser"
database_pass     = "wppass"
admin_user        = "adminuser"
admin_pass        = "adminpass"
